@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:wght@400;500;700&display=swap');
body{
    margin: 0;
    padding: 0;
}

header{
display: flex;
margin: auto;
max-width: 1280px;
padding: 15px 20px;
align-items: center;
}

.logo_column{
    flex-grow: 1;
}

#logo{
width: 70px;
}

#menu_list{
    font-weight: 700;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    text-transform:uppercase;
}

.menu_item{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.menu_item:hover{
    color: #a59809;
}

/* mobilemenu */
#mobile_menu{
    display: none;
}

#mobile_menu_list{
    position:absolute;
    top: 80px;
    right: 0px;
    width: 100%;
    background-color:#f9f9f9;
    z-index: 1;
    padding: 10px 0;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

#mobile_menu_list .menu_item{
   list-style: none;
   margin: 35px 40px;
   font-size: 20px;
   text-transform: uppercase;
}

#mobile_menu_list .menu_item:hover{
    color: #a59809;
    background-color: transparent;
 }

.hidden{
    display: none;
}

.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    height: 80vh;
    padding: 0 20px;
}

.joke{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: aliceblue;
    width: 900px;
    min-height: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.joke:hover{
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.joke h1{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.joke_text{
    margin-top: 40px;
    justify-self: center;
}

.joke_text h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.joke button{
    padding: 15px 30px;
    margin: 40px 10px 0 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 1px 0px rgba(0,0,0,0.75);
    background-color: #f0df11;
    transition: 0.3s;
    cursor: pointer;
}

.joke button:hover{
    filter: brightness(120%);
}

.joke button:active{
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    transform: translateY(4px);
}

.category_section{
    max-width: 1280px;
    margin: auto;
    padding: 40px 20px 70px 20px;
    display: none;
}

.jokes_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
}

.page_title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.jokeCard{
    width: 350px;
    /* height: 300px; */
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    background-color: aliceblue;
}

.jokeCard:hover{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.jokeCard .id{
    position: absolute;
    top: 0;
    left: 22px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.jokeCard .type{
    position: absolute;
    top: 0;
    right: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.jokeCard .joke_text{
    margin-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    word-break: break-word;
}

.load_more{
    margin-top: 50px;
    text-align: center;
}

.load_more_btn{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #f0df11;
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.load_more_btn:hover{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.speakBtn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 22px!important;
    cursor: pointer;
}



/* mobile screen */
@media only screen and (max-width: 720px){
    #menu_list{
        display: none;
    }

    .joke h1 {
        font-size: 32px;
    }

    .joke{
        max-width: 900px;
        min-height: 350px;
        padding: 20px;
    }
    

    .joke_text {
        margin-top: 20px;
        font-size: 15px;
    }

    .joke button{
        padding: 12px 24px;
        font-size: 16px;
    }

    .category_section{
        padding: 30px 20px 50px 20px;
    }

    .page_title{
        font-size: 28px;
    }

    .jokes_cards{
        margin-top: 50px;
    }

    #mobile_menu{
        display: block;
    }
    
}


/* mobile screen */
@media only screen and (max-width: 420px){
    .joke button{
        padding: 10px 20px;
        margin: 10px;
        font-size: 14px;
    }

    .joke{
        padding: 10px;
    }

    .category_section{
        padding: 20px 20px 50px 20px;
        display: none;
    }

    .page_title{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
    }

    .jokes_cards{
        margin-top: 50px;
    }

    .jokeCard .id{
        font-size: 18px;
    }
    
    .jokeCard .type{
        position: absolute;
        font-size: 18px;
    }
    
    .jokeCard .joke_text{
        margin-top: 50px;
        font-size: 17px;
    }
    
}